@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400&display=swap');

.logo {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    -webkit-clip-path: polygon(41% 0%, 21% 99%, 86% 99%);
    clip-path: polygon(41% 0%, 21% 99%, 86% 99%);
}

.asset-card{
    transition: .5s ease;
}
.asset-card:hover{
    transform: scale(1.1)
}

@media(max-width: 500px){
    .asset-card:hover{
        transform: scale(1)
    }
}